In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.compose import TransformedTargetRegressor
from sklearn.preprocessing import PowerTransformer, StandardScaler, OneHotEncoder
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [11]:
df_nzt = pd.read_csv('net_zero_tracker.csv', sep=';', quotechar='"', quoting=1, engine='python', on_bad_lines='skip', skipinitialspace=True, doublequote=True)

In [12]:
df_nzt.head()

,Last_updated,ID_Code,ISIN_ID,Name,Country,Geographic_region,Entity_type,Private_company,End_target,End_target_percentage_reduction,...,End_target_intensity_unit,end_target_baseyear_emissions,End_target_target_emissions,End_target_bau_emissions,End_target_other,Interim_target_intensity_unit,Interim_target_baseyear_emissions,Interim_target_target_emissions,Interim_target_bau_emissions,Interim_target_other
0,2025-08-01 20:54:06,COU-0001,NaN,Afghanistan,AFG,Western and Central Asia,Country,NaN,Reduction v. BAU,"13,6",...,NaN,NaN,"42,7","48,9",NaN,NaN,NaN,NaN,NaN,NaN
1,2025-10-12 14:32:25,COU-0002,NaN,Angola,AGO,Africa,Country,NaN,Emissions reduction target,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"189,01","211,53",NaN
2,2025-08-01 20:54:06,COU-0003,NaN,Argentina,ARG,Latin America and the Caribbean,Country,NaN,Net zero,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"in its ndc, argentina has set an unconditional..."
3,2025-08-01 20:54:06,COU-0004,NaN,Armenia,ARM,Western and Central Asia,Country,NaN,Climate neutral,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-08-01 20:54:06,COU-0005,NaN,Antigua and Barbuda,ATG,Latin America and the Caribbean,Country,NaN,Net zero,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sector specific targets

In [13]:
df_nzt.columns

Index(['Last_updated', 'ID_Code', 'ISIN_ID', 'Name', 'Country',
       'Geographic_region', 'Entity_type', 'Private_company', 'End_target',
       'End_target_percentage_reduction', 'End_target_baseline_year',
       'End_target_year', 'Status_of_end_target', 'Date_of_last_status_update',
       'End_target_text', 'End_target_source_url', 'Interim_target',
       'Interim_target_year', 'Interim_target_percentage_reduction',
       'Interim_target_baseline_year', 'Interim_target_text', 'Targets_notes',
       'GHGs_covered', 'Scope_1_coverage', 'Scope_2_coverage',
       'Scope_3_coverage', 'Coverage_notes', 'Published_plan',
       'Published_plan_measures', 'Reporting_mechanism',
       'International_equity_just_transition', 'Accountability_delivery',
       'Governance_notes', 'Carbon_credits', 'Carbon_credits_conditions',
       'Max_emission_offset', 'Carbon_credits_conditions_other',
       'Separate_removal_target', 'Planning_removals',
       'Removals_and_credits_notes', 'Territorial_emissions',
       'Consumption_emissions', 'International_aviation',
       'International_shipping', 'Historical_emissions', 'Race_to_zero_member',
       'GDP', 'GDP_year', 'Population', 'Population_year',
       'Company_annual_revenue', 'Industry', 'Employees', 'GHG_emissions',
       'GHG_emissions_year', 'GHG_emissions_source',
       'End_target_intensity_unit', 'end_target_baseyear_emissions',
       'End_target_target_emissions', 'End_target_bau_emissions',
       'End_target_other', 'Interim_target_intensity_unit',
       'Interim_target_baseyear_emissions', 'Interim_target_target_emissions',
       'Interim_target_bau_emissions', 'Interim_target_other'],
      dtype='object')